<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if page.title %} {{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.desc %} {{ page.desc }} {% endif %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="http://appsandthecity.net/img/favicon.png" type="image/png" />

  <link rel="stylesheet" href="http://appsandthecity.net/css/bootstrap.min.css" />
  <link rel="stylesheet" href="http://appsandthecity.net/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="http://appsandthecity.net/css/style.css" />
  <link rel="stylesheet" href="http://appsandthecity.net/css/custom.css" />

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="http://appsandthecity.net/js/custom.js"></script>
</head>
<body onload="initialize()">
  <div id="wrapper" class="container">
    <header id="header" class="container">
      <a href="/"><img src="/img/logo.png" alt="Apps and the City - Open Transport"/></a>
      <ul class="social-media">
        <li>
          <a href="https://twitter.com/appsandthecity">Twitter</a>
        </li>
        <li>
          <a href="https://github.com/okfde/appsandthecity">GitHub</a>
        </li>
      </ul>
      <p id="location-header">{{ site.date }} | {{ site.location }}</p>
    </header>

    <div class="navbar aatc-container">
      <div class="navbar-inner">
        <ul class="nav span12">
          {% for link in site.navigation %}
            <li>
              <a href="{{ link.url }}">{{ link.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <hr />
    </div>

    <div class="aatc-container">
      <div class="span12">
        {{ content }}
      </div>
      <footer id="footer" class="span8 offset4">
        <div class="row border-row">
          <ul id="footer-menu">
            <li>
              <a href="mailto:julia.kloiber@okfn.org">Kontakt</a>
            </li>
            <li>
              <a href="http://lists.okfn.org/mailman/listinfo/open-data-nahverkehr">Mailingliste</a>
            </li>
            <li>
              <a href="mailto:julia.kloiber@okfn.org">Sponsor werden</a>
            </li>
            <li>
              <a href="https://github.com/okfde/appsandthecity">Auf GitHub forken</a>
            </li>
          </ul>
          <p id="footer-text">
            Impressum:<br />
            Open Knowledge Foundation Deutschland e.V.<br />
            Brunnenstr. 69, 13355 Berlin<br /><br />
            Design | <a href="http://anjagollor.de/">Anja Gollor</a> + <a href="http://sebastianpreusse.com/">Sebastian Preusse</a>
          </p>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>
