<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.desc %} {{ page.desc }} {% endif %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="http://appsandthecity.net/img/favicon.png" type="image/png" />

  <link rel="stylesheet" href="http://appsandthecity.net/css/bootstrap.min.css" />
  <link rel="stylesheet" href="http://appsandthecity.net/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="http://appsandthecity.net/css/style.css" />
  <link rel="stylesheet" href="/css/custom.css" />
</head>
<body onload="initialize()">
  <div id="wrapper" class="container">
    <header id="header" class="container">
      <a href="/"><img src="/img/logo.png" alt="Apps and the City - Open Transport"/></a>
      <ul class="social-media">
        <li>
          <a href="https://twitter.com/appsandthecity">Twitter</a>
        </li>
        <li>
          <a href="{{ site.github }}">GitHub</a>
        </li>
      </ul>
      <p id="location-header">{{ site.date }}
        {% if site.location %}
          {% for link in site.location %}
           | <a href="{{ link.url }}">{{ link.text }}</a>
          {% endfor %}
        {% endif %}
      </p>
    </header>

    <div class="navbar aatc-container">
      <div class="navbar-inner">
        <ul class="nav span12">
          <li>
            <a href="http://berlin.appsandthecity.net">Berlin</a>
          </li>
          <li>
            <a href="http://cologne.appsandthecity.net">Köln</a>
          </li>
        </ul>
        {% if site.navigation %}
        <ul class="nav span12">
          {% for link in site.navigation %}
            <li>
              <a href="{{ link.url }}">{{ link.text }}</a>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <hr />
    </div>

    <div class="aatc-container">
      <div class="span12">
        {{ content }}
      </div>
      <footer id="footer" class="span8 offset4">
        <div class="row border-row">
          <ul id="footer-menu">
            {% if site.contact %}
            <li>
              <a href="mailto:{{ site.contact }}">Kontakt</a>
            </li>
            <li>
              <a href="mailto:{{ site.contact }}">Sponsor werden</a>
            </li>
            {% endif %}
            {% if site.mailinglist %}
            <li>
              <a href="{{ site.mailinglist }}">Mailingliste</a>
            </li>
            {% endif %}
            <li>
              <a href="{{ site.github }}">Auf GitHub forken</a>
            </li>
          </ul>
          <p id="footer-text">
            <a href="https://okfn.de/impressum/">Impressum</a>
            Design | <a href="http://anjagollor.de/">Anja Gollor</a> + <a href="http://sebastianpreusse.com/">Sebastian Preusse</a>
          </p>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>
